[submodule "backend"]
	path = backend
	url = git@gitlab.com:bicodetech/permanent-recall-backend.git
[submodule "frontend"]
	path = frontend
	url = git@gitlab.com:bicodetech/permanent-recall-frontend.git
